# 01. intro

## shortcut(단축키)
- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple
2. git add . / git add.
3. message / massage

In [2]:
# 여기는 주석입니다.

## 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 사용 가능
- 다만 영어, 숫자, _를 사용하여 선언
- 키워드는 사용 불가

In [6]:
a = 30

In [7]:
a

30

In [9]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [10]:
seoul_dust_rate = 10

### 1.1 number

In [11]:
a = 100000

In [12]:
a

100000

In [13]:
type(a)

int

In [14]:
b = 1.1

In [15]:
b

1.1

In [16]:
type(b)

float

In [17]:
c = 1 - 4j

In [18]:
c

(1-4j)

In [19]:
type(c)

complex

### 1.2 boolean

True, False로 이루어진 타입

In [20]:
a = True

In [21]:
a

True

In [22]:
type(a)

bool

In [23]:
b = False

In [24]:
b

False

In [25]:
type(b)

bool

### 1.3 None

In [26]:
a = None

In [28]:
type(a)

NoneType

### 1.4 String

- 문자열은 `'`,`"`을 이용하여 표현

In [29]:
a = 'hello'

In [30]:
type(a)

str

In [31]:
b = "world"

In [32]:
type(b)

str

In [37]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [39]:
#print('안녕하세요 '이현주'입니다.')
print("안녕하세요, '이현주'입니다.")
print('안녕하세요, "이현주"입니다.')

안녕하세요, '이현주'입니다.
안녕하세요, "이현주"입니다.

In [40]:
print('안녕하세요, \'이현주\'입니다.')

안녕하세요, '이현주'입니다.

In [42]:
a = '''
안녕하세요, '이현주'입니다.
여러 줄로 작성할 때 사용
'''
print(a)

안녕하세요, '이현주'입니다.
여러 줄로 작성할 때 사용

In [44]:
print('안녕하세요, \n이현주입니다. \t들여쓰기 이스케이프 문자열')

안녕하세요,
이현주입니다. 	들여쓰기 이스케이프 문자열

### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [45]:
age = 10

In [46]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [47]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [48]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

## 2. 연산자
### 2.1 산술연산자

In [53]:
a = 7
b = 3

In [59]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

15
-5
50
0.5
9765625

In [58]:
# a를 b로 나눈 몫
print(a // b)
# a를 b로 나눈 나머지
print(a % b)
# 몫과 나머지를 같이 출력해주는 함수 divmod(a,b) : a를 b로 나눈 몫과 나머지
print(divmod(a,b))

0
5
(0, 5)

### 2.2 비교연산자

In [56]:
a = 5
b = 10

In [60]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [61]:
# a와 b가 같은가요?
print(a == b)
# a와 b가 다른가요?
print(a != b)

False
True

In [62]:
print('hi' == 'hi')
print('Hi' == 'hi')

True
False

### 2.3 논리 연산자

- and : 양쪽 모두 True일 때, True를 반환
- or : 양쪽 모두 False일 때, False를 반환
- not : 값을 반대로 전환

In [63]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [65]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [67]:
print(not True)
print(not False)

result = True
print(not result)

False
True
False

In [ ]:
# 단축평가 (and) : 앞/뒤 중 앞이 True면 뒤값을 기준으로 출력, 앞이 False면 앞값을 기준으로 출력

print(3 and 5)
print(3 and 0)
print(0 and 3)
print(0 and 0)
# 0 = False, n > 0 = True

In [69]:
# 단축평가 (or) : 앞/뒤 중 앞이 False면 뒤값을 기준으로 출력, 앞이 True면 앞값을 기준으로 출력

print(3 or 5)
print(3 or 0)
print(0 or 3)
print(0 or 0)

3
3
3
0

### 2.4 복합연산자

In [71]:
a = 1
b = 2

In [72]:
a = a + b
a = a - b
a = a * b
a = a / b

In [ ]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a ** b

### 2.5 기타연산자

In [77]:
a = 'hi'
b = 'hello'

In [80]:
# concatenation 연결

print(a + b)

hihello

In [84]:
a = [1, 2, 3]
b = [4, 5, 6]

# 문자열과 List의 유사성

In [85]:
print(a + b)

[1, 2, 3, 4, 5, 6]

In [87]:
# containment 포함

print(1 in a)
print(10 in a)

True
False

In [88]:
# identify

a = 5
b = 5

print(a == b)
print(a is b)

True
True

In [90]:
a = 123123
b = 123123

print(a == b)
print(a is b)

# is는 메모리값으로 판단 257~

True
False

#### 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [91]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환
### 3.1 암시적 형변환

In [94]:
a = True
b = False
c = 1

In [98]:
print(a + b)
print(b - c)

1
-1

In [99]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [101]:
print(int_num + float_num)
print(type(int_num + float_num))

print(float_num + complex_num)
print(type(float_num + complex_num))

6.3
<class 'float'>
(6.3+3j)
<class 'complex'>

### 3.2 명시적 형변환

- int() : string, float => int
- float() : string, int => float
- str() : int, float => string
- bool() : string, int, ect => bool

In [102]:
a = 1
b = '번'

In [103]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [104]:
print(b + a)

TypeError: can only concatenate str (not "int") to str

In [105]:
print(str(a) + b)

1번

In [107]:
a = '3'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [108]:
a = 'a'
# print(int(a)) : int() with base 10
print(int(a))

ValueError: invalid literal for int() with base 10: 'a'

In [109]:
a = '3.3'
print(float(a))

3.3

In [110]:
a = 1
b = 0

print(bool(a))
print(bool(b))

True
False

In [111]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스 자료형

시퀀스는 데이터의 `순서대로 나열된` 자료구조 =/ `정렬된`

1. List
2. Tuple
3. Range
4. String

### 4.1 List (리스트, 배열)

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [113]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [117]:
location = ['서울', '대전', '부산']
print(location)
print(location[0])
print(location[2])
# index는 몇번째인가? 0, 1, 2 ...

location[1] = '광주'
print(location)

['서울', '대전', '부산']
서울
부산
['서울', '광주', '부산']

### 4.2 Tuple (튜플)
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)하다.

In [119]:
numbers = (123, 234, 345)
print(numbers)
print(numbers[1])

(123, 234, 345)
234

In [120]:
numbers[1] = 456

TypeError: 'tuple' object does not support item assignment

In [123]:
a = 7
b = 3

print(divmod(a, b))
print(type(divmod(a, b)))
result = divmod(a, b)
print(result[0] + result[1])

(2, 1)
<class 'tuple'>
3

In [124]:
x, y = 1, 2
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

### 4.3 Range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 s만큼 증가한 범위

In [130]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [131]:
numbers = range(5, 10)
print(numbers)
print(list(numbers))

range(5, 10)
[5, 6, 7, 8, 9]

In [135]:
even = range(2, 20, 6)
print(even)
print(list(even))

range(2, 20, 6)
[2, 8, 14]

In [137]:
numbers = range(0, -10, -2)
print(numbers)
print(list(numbers))

range(0, -10, -2)
[0, -2, -4, -6, -8]

### 4.4 String
기본 데이터 구조 참고

### 4.5 시퀀스에서 활용 가능한 연산/함수

In [146]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(5)
print(my_range)
my_string = '12345'

range(0, 5)

In [145]:
# indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

1
1
0
1

In [148]:
# slicing
print(my_list[1:3]) # 1번값 이상 3번값 미만
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

print(my_string[0:4:2])

[2, 3]
(2, 3)
range(1, 3)
23
13

In [150]:
# in
print('1' in my_string)
print(1 in my_list)
print(1 in my_tuple)

# not in
print(1 not in my_list)

True
True
True
False

In [153]:
# concatenation
print(my_list + [6, 7, 8, 9, 10])
print(my_tuple + (6, 7, 8, 9, 10))
print(my_string + '678910')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
12345678910

In [155]:
# *
print('#' * 10)
print([0] * 10)
# 시퀀스타입 * 수 = 그 수 만큼 복제

##########
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [160]:
# 범위 내 값의 수

print(len(my_list))

5

In [161]:
# 최대 / 최소값

print(max(my_list))
print(min(my_list))

5
1

## 5. 시퀀스형이 아닌 자료구조

### 5.1 Set
수학에서 사용하는 집합과 동일한 개념 (순서 상관이 없고, 중복값이 없음, `하나의 값`)

- 선언 : 변수이름 = {value1, value2, value3 ...}

In [162]:
my_set_a = {1, 3, 5, 7, 9}
my_set_b = {1, 2, 3, 4, 5}

In [164]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{9, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [165]:
test_set = {1, 2, 3, 4, 5, 1, 1, 3, 3, 4, 5, 6}
print(test_set)

{1, 2, 3, 4, 5, 6}

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

In [167]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict)
print(my_dict['서울'])

{'서울': '02', '경기': '031'}
02

In [169]:
my_info = {
    'name': 'A',
    'location': 'seoul',
    'age': 10
}

print(my_info['location'])

seoul

In [170]:
my_info.keys()

dict_keys(['name', 'location', 'age'])

In [171]:
my_info.values()

dict_values(['A', 'seoul', 10])

##### 데이터 타입
1. Number
2. String
3. Boolean

##### 자료구조
- 시퀀스 자료형

1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

> mutable과 immutable의 기준은 인덱스 기준

- 시퀀스가 아닌 자료형
1. {Set} : mutable
2. {Dict: ionary} : mutable