# 제어문

## 조건문 (if문)

1. if문은 반드시 일정한 참/거짓을 판단할 수 있는 `조건식`과 함께 사용된다.
       - (`if <조건식>:`)
2. `<조건식>`이 참인 경우 `:`이후의 문장을 실행
3. `<조건식>`이 거짓(False)인 경우 `else:`이후의 문장을 실행

```
if <조건식>:
    if의 조건식이 참인 경우 실행
else:
    if의 조건식이 거짓인 경우 실행
```

In [2]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 12/1

크리스마스가 아닙니다.

In [7]:
num = input('숫자를 입력해주세요')

result = int(num) % 2
print(result)

if bool(result):
    print('홀수입니다.')
else:
    print('짝수입니다.')

숫자를 입력해주세요 10

0
짝수입니다.

In [9]:
num = int(input())

if num % 2 == 1:
    print('홀수입니다.')
else:
    print('짝수입니다.')

 2

짝수입니다.

In [12]:
num = int(input())

if num % 2 == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

 123

홀수입니다.

In [13]:
num = int(input())

if num % 2:
    print('홀수입니다.')
else:
    pritn('짝수입니다.')

 123

홀수입니다.

### elif

```
if <조건식>:
    if 조건식이 참인 경우
elif <조건식>:
    elif 조건식이 참인 경우
elif <조건식>:
    elif 조건식이 참인 경우
else:
    위의 조건식이 하나도 부합하지 않는 경우
```

In [19]:
score = int(input())

 79

In [21]:
# 90점 이상 A
# 80~89점 B
# 70~79점 C
# 나머지 F

if score >= 90:
    print('A')
elif score >= 80 and score <= 89:
    print('B')
elif 70 <= score <= 79:
    print('C')
else:
    print('F')

C

In [22]:
score = int(input())

 95

In [24]:
if score >= 90:
    print('A')
    if score >= 95:
        print('참 잘했어요')
elif score >= 80:
    print('B')

A
참 잘했어요

### 조건표현식

```
true_value if <조건식> else false_value
```

In [26]:
print('True') if 1 < 0 else print('False')

False

In [27]:
if 1 > 0:
    print('True')
else:
    print('False')

True

In [32]:
num = 5
value = num if num >= 0 else 0

print(value)

5

In [33]:
num = 5

if num >= 0:
    value = num
else:
    value = 0

print(value)

5

In [35]:
num = 2

if num % 2:
    result = '홀수'
else:
    result = '짝수'

print(result)

짝수

In [38]:
num = 2
result = '홀수' if num % 2 else '짝수'

print(result)

짝수

## 반복문

### while문

```
while <조건식>:
    실행할 코드
```

In [40]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [42]:
greeting = ''

while greeting != '안녕':
    greeting = input('안녕이라고 말해줘')

안녕이라고 말해줘 안녕

### for

정해진 범위 내의 반복
```
for variable(=item) in sequence:
    code
```

In [44]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

# number 안에 List의 각 데이터를 대입 및 출력

1
2
3
4
5

In [46]:
word = input('단어를 입력해주세요')

for char in word:
    print(char)

# str도 각 문자 단위로 인식

단어를 입력해주세요 apple

a
p
p
l
e

In [47]:
for i in range(5):
    print(i)

0
1
2
3
4

In [50]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [55]:
# 1~30까지 숫자들 중에서 홀수만 출력

# 내 ver
for num in range(1, 31):
    if num % 2 == 1:
        print(num)
    else:
        0

# 선생님 ver
numbers = range(31)
for number in numbers:
    if number % 2:
        print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

#### enumerate
- 인덱스값이 필요할 때 활용

In [56]:
menus = ['라면', '김밥', '백반']

for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '백반')

In [63]:
for index, menu in enumerate(menus):
    print(index)
    print(menu)

0
라면
1
김밥
2
백반

In [64]:
x, y = (1, 2)
print(x, y)

1 2

### dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for key in dict.values():
4. for key in dict.items():

In [65]:
info = {
    'name': 'gildong',
    'location': 'seoul',
    'phone': '010-1234-1234',
    'age': 20,
}

# 쉼표 마지막에 찍는 건 다음 자료 입력을 위해

In [68]:
for cat in info:
    print(cat)
    print(info[cat])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [70]:
for key in info.keys():
    print(key)
    print(info[key])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [73]:
for value in info.values():
    print(value)

info.values()

gildong
seoul
010-1234-1234
20

dict_values(['gildong', 'seoul', '010-1234-1234', 20])

In [75]:
for key, value in info.items():
    print(key, value)

name gildong
location seoul
phone 010-1234-1234
age 20

In [76]:
blood_type = {
    'A': 5,
    'B': 3,
    'O': 2,
    'AB': 2,
}

In [83]:
# 혈액형의 종류는 ?? ?? 입니다.
# end 프린트 문이 끝날 때 어떻게 끝날지 결정
# 원래 print 문의 맨 뒤는 /n이 포함 (이스케이프 문자)
print('혈액형의 종류는', end=' ')
for key in blood_type.keys():
    print(key, end=' ')
print('입니다.')

혈액형의 종류는 A B O AB 입니다.

In [92]:
# 총 학생수는 n명입니다.
result = 0 # 빈 박스 만들기 (임시 저장소)
for value in blood_type.values():
    result = result + value
print(f'총 학생수는 {result}명입니다.')

총 학생수는 12명입니다.

### break
반복문을 종료하는 키워드
if와 같이 사용

In [95]:
for i in range(100):
    if i > 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [105]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리']

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다')
        break

for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다')
        break # 쌀 이후에는 출력x

보리
보리
보리
보리
쌀
잡았다

In [5]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리']

i = 0

while True:
    if rice[i] == '쌀':
        print('잡았다')
        break
    print(rice[i])
    i += 1

보리
보리
보리
보리
잡았다

In [4]:
rice = ['보리', '보리', '보리', '보리', '쌀', '보리']

i = 0

while True:
    print(rice[i])
    if rice[i] == '쌀':
        print('잡았다')
        break
    i += 1

보리
보리
보리
보리
쌀
잡았다

### continue

continue 이후의 코드를 실행하지 않고 반복을 진행 (=skip)

In [108]:
for i in range(20):
    if i % 2:
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [116]:
ages = [10, 20, 38, 82, 11, 13, 39]

for age in ages:
    if age <= 20:
        continue
    print(f'{age}살은 성인입니다.')

38살은 성인입니다.
82살은 성인입니다.
39살은 성인입니다.

### else

else문은 `끝까지` 반복된 후 실행됩니다.
break를 만나지 않았을 때 실행됩니다.

In [115]:
for i in range(10):
    print(i)
else:
    print('else입니다.')

0
1
2
3
4
5
6
7
8
9
else입니다.

In [118]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('else입니다.')

0
1
2
3
4
5

### pass
규격만 맞추고 코드는 나중에 쓸 때 (코드 패스)

In [120]:
if True:
    pass

### match

```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code

In [121]:
status = 404

match status:
    case 200:
        print('ok')
    case 404:
        print('bad')
    case _:
        print('idk')

bad