In [7]:
# 문자열 메소드

a = 'hello my name is hong'

print(a)

print(a.capitalize())

print(a.title())

print(a.upper())

print(a.lower())

hello my name is hong
Hello my name is hong
Hello My Name Is Hong
HELLO MY NAME IS HONG
hello my name is hong

In [20]:
my_list = ['my', 'name', 'is']

print(' '.join(my_list))

my_string = '     hello     '
print(my_string.strip())

print(my_string.replace(' ',''))

print(my_string.find('h'))
print(my_string.index('h'))

my name is
hello
hello
5
5

In [24]:
a = 'my name is hong'

print(a.split())
print(a.count('m'))

['my', 'name', 'is', 'hong']
2

In [36]:
# 리스트 메소드

numbers = [1, 2, 3, 4, 9, 8]

numbers.append(10)
print(numbers)

a = [99, 100]
numbers.extend(a)
print(numbers)

print(numbers + a)

[1, 2, 3, 4, 9, 8, 10]
[1, 2, 3, 4, 9, 8, 10, 99, 100]
[1, 2, 3, 4, 9, 8, 10, 99, 100, 99, 100]

In [41]:
numbers.insert(5, 77)
print(numbers)
# n 번째에 어떤 숫자 삽입

[1, 2, 3, 4, 9, 77, 77, 77, 77, 8, 10, 99, 100]

In [44]:
print(numbers.pop())
print(numbers.pop(0))

10
2

In [49]:
numbers.sort()
print(numbers)

[3, 4, 8, 9, 77, 77, 77, 77]

In [51]:
numbers.sort(reverse=True)
print(numbers)

[77, 77, 77, 77, 9, 8, 4, 3]

In [55]:
print(sorted(numbers))

print(numbers)

[3, 4, 8, 9, 77, 77, 77, 77]
[77, 77, 77, 77, 9, 8, 4, 3]

In [57]:
# list copy

origin_list = [1, 2, 3]
copy_list = origin_list

origin_list[0] = 0

print(copy_list)

[0, 2, 3]

In [59]:
origin_list = [1, 2, 3]
copy_list = origin_list[:]

origin_list[0] = 0

print(copy_list)

[1, 2, 3]

In [66]:
origin_list = [1, 2, [3, 4]]
copy_list = origin_list[:]

origin_list[2][0] = 300
origin_list[0] = 100

print(copy_list)

[1, 2, [300, 4]]

## List comprehension

1. 1부터 10까지 숫자를 각각 세제곱한 list 만들기
2. 1부터 10까지 숫자에서 짝수만 골라 list 만들기
3. 'my name is hong'에서 모음만 제거하기

In [76]:
my_list = list(range(1, 11))
print(my_list)

answer = []
for num in my_list:
    answer.append(num ** 3)
print(answer)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [78]:
answer = []

for num in my_list:
    if num % 2 == 0:
        answer.append(num)

print(answer)

[2, 4, 6, 8, 10]